<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watcher</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon-32.png' %}" sizes="32x32" type="image/png">
    <link rel="icon" href="{% static 'img/favicon-64.png' %}" sizes="64x64" type="image/png">
    <link rel="icon" href="{% static 'img/favicon-96.png' %}" sizes="96x96" type="image/png">
    <link rel="icon" href="{% static 'img/favicon-196.png' %}" sizes="196x196" type="image/png">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    {#    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">#}
    <link rel="stylesheet" href="{% static "css/material-design-icons.css" %}">
    <link rel="stylesheet" href="{% static "css/day-picker.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<div id="app"></div>
<script src="{% static "frontend/main.js" %}"></script>
<script src="{% static "js/jquery-3.4.1.slim.min.js" %}"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="{% static "js/popper.min.js" %}"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="{% static "js/bootstrap.min.js" %}"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>