services:

  certstream:
    container_name: certstream
    image: 0rickyy0/certstream-server-go:latest
    restart: always
    networks:
      default:
        ipv4_address: 10.10.10.7
    volumes:
      - ./certstream-config.yaml:/app/config.yaml:ro
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    environment:
      - TZ=${TZ}

  searxng:
    container_name: searxng
    image: searxng/searxng:latest
    hostname: searxng
    restart: always
    networks:
      default:
        ipv4_address: 10.10.10.3
    volumes:
      - ./Searx/searx:/etc/searxng:rw
    environment:
      - TZ=${TZ}
      - BASE_URL=https://${SEARX_HOSTNAME}/
      - BIND_ADDRESS=10.10.10.3:8080
      - HTTP_PROXY=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE

  db_watcher:
    container_name: db_watcher
    image: mysql:8.0.40
    command: mysqld --default-authentication-plugin=mysql_native_password
    volumes:
      - db_data:/var/lib/mysql
      - db_log:/var/log/mysql
    restart: always
    networks:
      default:
        ipv4_address: 10.10.10.5
    environment:
      TZ: ${TZ}
      MYSQL_DATABASE: 'db_watcher'
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    healthcheck:
      test: mysqladmin --user=${DB_USER} --password=${DB_PASSWORD} status
      interval: 2s
      timeout: 1s
      retries: 10
      start_period: 30s

  watcher:
    container_name: watcher
    image: ghcr.io/thalesgroup-cert/watcher:latest
    depends_on:
      db_watcher:
        condition: service_healthy
      searxng:
        condition: service_started
      certstream:
        condition: service_healthy
    restart: always
    networks:
      default:
        ipv4_address: 10.10.10.6
    tty: true
    env_file:
      - .env
    environment:
      no_proxy: "10.10.10.3,10.10.10.5,10.10.10.6,10.10.10.7,certstream"
    ports:
      - "9002:9002"
    healthcheck:
      test: ["CMD-SHELL", "curl -s -o /dev/null -w '%{http_code}' http:/localhost:9002/#/login | grep -q 200 || exit 1"]
      interval: 30s
      timeout: 30s
      retries: 12
      start_period: 60s

networks:
  default:
    ipam:
      driver: default
      config:
        - subnet: 10.10.10.0/24

volumes:
  db_data: {}
  db_log: {}