mysqlclient==2.1.0
django==4.0.8
django-mysql==4.6.0
djangorestframework==3.13.1
django-rest-knox==4.2.0
apscheduler==3.8.0
nltk==3.7
feedparser==6.0.8
docutils==0.17.1
sphinx==4.5.0
sphinx-rtd-theme==1.0.0
recommonmark==0.7.1
whitenoise==6.1.0
python-tlsh==4.5.0
ipaddress==1.0.23
dnspython==2.2.1
shadow-useragent==0.0.17
thehive4py==1.8.1
pymisp==2.4.157
django-auth-ldap==4.1.0
dnstwist==20220131
django-import-export==2.8.0
certstream==1.12
