mysqlclient==2.1.1
django==4.1.7
django-mysql==4.8.0
djangorestframework==3.14.0
django-rest-knox==4.2.0
apscheduler==3.9.1.post1
nltk==3.8
feedparser==6.0.10
docutils==0.17.1
sphinx==5.3.0
sphinx-rtd-theme==1.1.1
myst-parser==0.18.1
whitenoise==6.2.0
python-tlsh==4.5.0
ipaddress==1.0.23
dnspython==2.2.1
shadow-useragent==0.0.17
thehive4py==1.8.1
pymisp==2.4.167
django-auth-ldap==4.1.0
dnstwist==20221213
django-import-export==3.0.2
certstream==1.12
