# Database credentials
# SECURITY WARNING: keep the credentials used in production secret!
# SECURITY WARNING: In production please change DB_USER, DB_PASSWORD and DB_ROOT_PASSWORD environment variables.
# WARNING: You can change the credentials bellow ONLY before the first database init (docker-compose up).
# If you want to change the credentials after the first database init you will need to remove your database volume (and lost all your data): 'docker volume rm watcher_db_data'
DB_NAME=db_watcher
DB_HOST=db_watcher
DB_USER=watcher
DB_ROOT=root
DB_PORT=3306
DB_PASSWORD=password
DB_ROOT_PASSWORD=strongpassword